body {
    background-image: url(../net_background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding: 50px;
    box-sizing: border-box;
}

@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap';
.error{
    font:4em 'Roboto', sans-serif;
    font-weight:900;
    line-height:.7;
	position:relative
}


@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap';
.try_again{
    font:2em 'Roboto', sans-serif;
    font-weight:900;
}

@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap';
.error_decryption{
    font:2em 'Roboto', sans-serif;
    font-weight:900;
}