<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Упс, ошибка</title>
	<link rel="stylesheet" href="static/css/error_style.css">
</head>
  <body>
	<div>
		<h1 data-content="Упс, ошибка :)" class="error">Упс, ошибка :)</h1>
	</div>
	<div>
		<h2 data-content="Кажется что-то пошло не так. Поддерживаются только изображения png/jpg/jpeg" 
		class="error_decryption">Кажется что-то пошло не так. Поддерживаются только изображения png/jpg/jpeg</h2>
	</div>
  	<h2 class="try_again" align='center'><a href="/">Попробовать ещё!</a></h2>
  </body>
</html>