<!doctype html>
<html>
  <head>
    <title>Colorizer</title>
	<link rel="stylesheet" href="static/css/index_style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>
	<div>
		<h2 class="header-title" align='center'><a href="https://github.com/marussia239">Марина Григорьева</a></h2>
	</div>
	<div>
		<h2 class="text" align='center'>Выберете чёрно-белое изображение, и нейросеть его раскрасит!</h2>
    </div>
	<div>
		<form method="POST" action="" enctype="multipart/form-data">
		  <p align='center'><input class="btn_choose" type="file" name="file" align="center"></p>
		  <p align='center'><input class="btn_submit" type="submit" value="Раскрасить" align="center"></p>
		</form>
	</div>
  </body>
</html>